version: "6.2.0"
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - cursor_members

definitions:
  basic_authenticator:
    type: BasicHttpAuthenticator
    username: "{{ config['api_key'] }}"

  tenant_id_injection:
    type: AddFields
    fields:
      - path: [tenant_id]
        value: "{{ config['tenant_id'] }}"

  post_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: PageIncrement
      page_size: 500
      start_from_page: 1
    page_token_option:
      type: RequestOption
      inject_into: body_json
      field_name: page
    page_size_option:
      type: RequestOption
      inject_into: body_json
      field_name: pageSize

  get_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: PageIncrement
      page_size: 500
      start_from_page: 1
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: pageSize

streams:
  # ── Stream 1: cursor_members (full refresh) ──
  - type: DeclarativeStream
    name: cursor_members
    primary_key:
      - email
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        properties:
          tenant_id:
            type: string
          id:
            type: string
          name:
            type: string
          email:
            type: string
          role:
            type: string
          isRemoved:
            type: boolean
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.cursor.com
        path: /teams/members
        http_method: GET
        request_headers:
          Content-Type: application/json
        authenticator:
          $ref: "#/definitions/basic_authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - teamMembers
      paginator:
        type: NoPagination
    transformations:
      - $ref: "#/definitions/tenant_id_injection"

  # ── Stream 2: cursor_audit_logs (incremental, GET) ──
  - type: DeclarativeStream
    name: cursor_audit_logs
    primary_key:
      - event_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        properties:
          tenant_id:
            type: string
          event_id:
            type: string
          timestamp:
            type: string
          user_email:
            type: string
          event_type:
            type: string
          event_data:
            type:
              - string
              - "null"
          ip_address:
            type:
              - string
              - "null"
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.cursor.com
        path: /teams/audit-logs
        http_method: GET
        request_headers:
          Content-Type: application/json
        authenticator:
          $ref: "#/definitions/basic_authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - events
      paginator:
        $ref: "#/definitions/get_paginator"
    transformations:
      - $ref: "#/definitions/tenant_id_injection"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ day_delta(-30, format='%Y-%m-%dT00:00:00Z') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: startTime
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: endTime
        inject_into: request_parameter

  # ── Stream 3: cursor_usage_events (hourly incremental, POST) ──
  - type: DeclarativeStream
    name: cursor_usage_events
    primary_key:
      - unique
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        properties:
          tenant_id:
            type: string
          unique:
            type: string
          userEmail:
            type: string
          timestamp:
            type: string
          kind:
            type: string
          model:
            type: string
          maxMode:
            type: boolean
          requestsCosts:
            type: number
          isTokenBasedCall:
            type: boolean
          isFreeBugbot:
            type: boolean
          cursorTokenFee:
            type: number
          tokenUsage:
            type:
              - object
              - "null"
            properties:
              inputTokens:
                type: number
              outputTokens:
                type: number
              cacheReadTokens:
                type: number
              cacheWriteTokens:
                type: number
              totalCents:
                type: number
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.cursor.com
        path: /teams/filtered-usage-events
        http_method: POST
        request_headers:
          Content-Type: application/json
        authenticator:
          $ref: "#/definitions/basic_authenticator"
        request_body_json:
          startDate: "{{ stream_interval.start_time | int }}"
          endDate: "{{ stream_interval.end_time | int }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - usageEvents
      paginator:
        $ref: "#/definitions/post_paginator"
    transformations:
      - $ref: "#/definitions/tenant_id_injection"
      - type: AddFields
        fields:
          - path:
              - unique
            value: "{{ record['userEmail'] }}{{ record['timestamp'] }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      cursor_datetime_formats:
        - "%ms"
      datetime_format: "%ms"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ day_delta(-30, format='%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"

  # ── Stream 4: cursor_usage_events_daily_resync (daily, POST, fixed window) ──
  - type: DeclarativeStream
    name: cursor_usage_events_daily_resync
    primary_key:
      - unique
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        properties:
          tenant_id:
            type: string
          unique:
            type: string
          userEmail:
            type: string
          timestamp:
            type: string
          kind:
            type: string
          model:
            type: string
          maxMode:
            type: boolean
          requestsCosts:
            type: number
          isTokenBasedCall:
            type: boolean
          isFreeBugbot:
            type: boolean
          cursorTokenFee:
            type: number
          tokenUsage:
            type:
              - object
              - "null"
            properties:
              inputTokens:
                type: number
              outputTokens:
                type: number
              cacheReadTokens:
                type: number
              cacheWriteTokens:
                type: number
              totalCents:
                type: number
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.cursor.com
        path: /teams/filtered-usage-events
        http_method: POST
        request_headers:
          Content-Type: application/json
        authenticator:
          $ref: "#/definitions/basic_authenticator"
        request_body_json:
          startDate: "{{ stream_interval.start_time | int }}"
          endDate: "{{ stream_interval.end_time | int }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - usageEvents
      paginator:
        $ref: "#/definitions/post_paginator"
    transformations:
      - $ref: "#/definitions/tenant_id_injection"
      - type: AddFields
        fields:
          - path:
              - unique
            value: "{{ record['userEmail'] }}{{ record['timestamp'] }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      cursor_datetime_formats:
        - "%ms"
      datetime_format: "%ms"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ day_delta(-1, format='%Y-%m-%dT12:08:04Z') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ day_delta(0, format='%Y-%m-%dT12:08:04Z') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"

  # ── Stream 5: cursor_daily_usage (incremental, POST) ──
  - type: DeclarativeStream
    name: cursor_daily_usage
    primary_key:
      - unique
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        properties:
          tenant_id:
            type: string
          unique:
            type: string
          userId:
            type: string
          email:
            type: string
          day:
            type: string
          date:
            type: number
          isActive:
            type: boolean
          chatRequests:
            type: number
          cmdkUsages:
            type: number
          composerRequests:
            type: number
          agentRequests:
            type: number
          bugbotUsages:
            type: number
          totalTabsShown:
            type: number
          totalTabsAccepted:
            type: number
          totalAccepts:
            type: number
          totalApplies:
            type: number
          totalRejects:
            type: number
          totalLinesAdded:
            type: number
          totalLinesDeleted:
            type: number
          acceptedLinesAdded:
            type: number
          acceptedLinesDeleted:
            type: number
          mostUsedModel:
            type:
              - string
              - "null"
          tabMostUsedExtension:
            type:
              - string
              - "null"
          applyMostUsedExtension:
            type:
              - string
              - "null"
          clientVersion:
            type:
              - string
              - "null"
          subscriptionIncludedReqs:
            type: number
          usageBasedReqs:
            type: number
          apiKeyReqs:
            type: number
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.cursor.com
        path: /teams/daily-usage-data
        http_method: POST
        request_headers:
          Content-Type: application/json
        authenticator:
          $ref: "#/definitions/basic_authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        $ref: "#/definitions/post_paginator"
    transformations:
      - $ref: "#/definitions/tenant_id_injection"
      - type: AddFields
        fields:
          - path:
              - unique
            value: "{{ record['email'] }}{{ record['date'] }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      cursor_datetime_formats:
        - "%ms"
      datetime_format: "%ms"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ day_delta(-30, format='%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: startDate
        inject_into: body_json
      end_time_option:
        type: RequestOption
        field_name: endDate
        inject_into: body_json

spec:
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - tenant_id
      - api_key
    properties:
      tenant_id:
        type: string
        title: Tenant ID
        description: Tenant isolation identifier (UUID)
        order: 0
      api_key:
        type: string
        title: API Key
        description: Cursor team API key
        airbyte_secret: true
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    cursor_members: true
    cursor_audit_logs: true
    cursor_usage_events: true
    cursor_usage_events_daily_resync: true
    cursor_daily_usage: true
